certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
Flask==2.1.1
future==0.18.2
idna==3.3
importlib-metadata==4.11.3
itchat==1.2.32
itchat-uos==1.4.1
itsdangerous==2.1.2
Jinja2==3.1.1
lxml==4.8.0
MarkupSafe==2.1.1
pypng==0.0.21
PyQRCode==1.2.1
requests==2.27.1
urllib3==1.26.9
weixin-python==0.5.7
Werkzeug==2.1.1
wxpy==0.3.9.8
zipp==3.8.0
